@import "./variables";
@import "./mixins";

/* admision.html */
/* Header */

#admision_alumnos {

    .contenedor{

        @media screen and (max-width: 768px){
            width: 90%;
        }
    }
    
    .textoFlotante{

        @include background("../img/el-impacto-2.jpg");
    }

    #admision {

        .vacantes {

            @include display-flex(center,stretch,100%);

            .titulo {
                width: 100%;
                margin-bottom: $margin-bottom + 5px;
 
                @include align-text($font-size-title,$color-primary,center);

                @media screen and (max-width: 320px){
                    font-size: $font-size-subtitulo;
                }
            }

            .subtitulo {

                width: 100%;
                margin-bottom: $margin-bottom + 5px;
                @include align-text($font-size-subtitulo,$color-secondary ,center);

            }

            table {
                border-collapse: collapse;
                text-align: center;
                margin-bottom: 30px;

                th{
                    background-color: #081d68d7;
                    color: white;
                    padding: 15px 50px;

                    @media screen and (max-width: 320px){
                        padding: 10px 5px ;
                    }
                }

                td {
                    padding: 15px 50px;

                    @media screen and (max-width: 320px){
                        padding: 10px 5px ;
                    }
                }
            } 
        }
    }

    #criterios_admision {

        margin-top: 100px;

        .contenedor-requisitos{
            display: flex;
            flex-wrap: wrap;

            @include display-flex(space-around, center,  100%);
            gap: 20px;

            .info {
                width: 45%;

                @media screen and (max-width: 768px){
                    width: 80%;
                }

                @media screen and (max-width: 425px){
                    width: 95%;
               }
            }

            .imagen {
                width: 45%;
                height: 500px;

                img{
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    border-radius: 20px;
                    transition: all 0.6s;
                    
                    &:hover {
                        box-shadow: 0px 0px 5px 5px #9c928b;
                        opacity: 0.8;
                    }
                }

                @media screen and (max-width: 768px){
                    width: 80%;
                    height: 400px;
                    order: 5;
                }

                @media screen and (max-width: 425px){
                    width: 95%;
                    height: 200px;
                }
            }

            @media screen and (max-width: 768px){
                margin-bottom: $margin-bottom + 20px;
            }
        }

        .subtitulo {
            width: 100%;
            font-size: $font-size-subtitulo;
            margin-bottom: $margin-bottom + 10px;
        }

        .parrafo {
            line-height: 1.5;
            margin-bottom: $margin-bottom;

            span {
                border-radius: 50%;
                border: 1px solid;
                font-size: $font-size-parrafo;
                border: none;
                padding: 5px 10px;
                margin-right: 10px;
                background-color: #081d68d7;
                color: white;
                text-align: center;
            }
        }



    }

    #formularioAdmision .contenedor{
        margin-top: 0;
        padding-top:  0px;
        width: 70%;

        .contenedor-admision {

            .titulo {
                width: 100%;
                margin-bottom: $margin-bottom + 5px;
                @include align-text($font-size-title,$color-primary ,left);

            }
            .parrafo {
                width: 100%;
                margin-bottom: $margin-bottom + 5px;
                font-weight: 600;

                @include align-text($font-size-parrafo,$color-secondary,left);
            }

            .formulario{
                width: 100%;

                .formularioAdmision{

                    @include display-flex(space-between,stretch,100%);

                    @media screen and (max-width: 425px){
                        justify-content: center;
                    }
                }
            }

            input {
                width: 48%;
                margin-bottom: $margin-bottom;
                padding: 10px;
                border: 2px solid rgba(0, 0, 0, 0.308);
                border-radius: $border-radius;
                outline: none;

                @media screen and (max-width: 425px){
                    width: 90%;
                }
            } 

            select {
                width: 48%;
                margin-bottom: $margin-bottom;
                padding: 8px;
                border: 2px solid rgba(0, 0, 0, 0.308);
                border-radius: $border-radius;
                outline: none;

                @media screen and (max-width: 425px){
                    width: 90%;
                }
            }

            .terminos{
                width: 100%;

                input{
                    width: 2%;
                }

                label {
                    font-weight: 700;
                }      
            }

            .botonEnviar {
                margin-top: $margin-bottom;
                width: 100%;
                text-align: center;

                input{

                    width: 10%;
                    padding: 10px;
                    border-radius: $border-radius;
                    background-color: #f2f2f2;
                    @include align-text($font-size-parrafo,black,center);

                    &:hover{
                        background-color: $color-primary;
                        color: white;
                    }

                    @media screen and (max-width: 768px){
                        width: 20%;
                    } 
                    @media screen and (max-width: 435px){
                        width: 30%;
                    } 
                    @media screen and (max-width: 320px){
                        width: 50%;
                    }
                }
            }
        }  
        
        @media screen and (max-width: 768px){
            width: 90%;
        }

        @media screen and (max-width: 425px){
            text-align: center;
        }
    } 
}
