@import "./variables";
/* contacto.html */
/* Main */
main#contacto{
    .textoFlotante{
        
        @include background("../img/educacion_distancia.jpg");

    }

    .contenedor{
        
        @include display-flex(space-between,stretch,70%);

        .ubicacion {
            width: 50%;
            display: flex;
            flex-wrap: wrap;

            .titulo {

                width: 100%;
                margin-top: 0;
                margin-bottom: $margin-bottom + 5px;
                @include align-text($font-size-title - 0.5rem,$color-secondary,center);

            }

            .mapa {
                width: 100%;
                box-shadow: 4px 4px 8px -1px rgba(0,0,0,0.57);

                iframe {
                    border-radius: $border-radius;

                    @media screen and (max-width: 768px){
                       height: 300px;
                    }
                }
            }  
            
            @media screen and (max-width: 768px){
                width: 80%;
                margin-bottom: $margin-bottom + 5px;
            }

            @media screen and (max-width: 425px){
                width: 90%;
            }
        }

        .formulario {

            border: 1px solid #333333;
            border-radius: $border-radius - 5px;
            padding: 30px;
            box-shadow: 4px 4px 8px -1px rgba(0,0,0,0.57);

            @include display-flex(center,stretch,40%);

            .titulo {
                font-size: $font-size-title - 0.5rem;
                color: $color-secondary;
                width: 100%;
                text-align: center;
                margin-bottom: $margin-bottom;

                @media screen and (max-width: 768px){
                    margin: 10px 0;
                }
            }

            select {
                width: 80%;
                height: 35px;
                border: 1px solid #333333;
                border: none;
                border: 1px solid;
                border-radius: $border-radius - 5px;
                margin-bottom: $margin-bottom;

                @media screen and (max-width: 768px){
                    margin-bottom: 10px;
                }

                @media screen and (max-width: 425px){
                    width: 100%;
                }
            }

            .grupo {
                width: 80%;
                position: relative;
                margin-bottom: 30px;

                input {
                    display: block;
                    width: 100%;
                    padding: 10px 10px 10px 5px;
                    border: none;
                    border-bottom: 1px solid #333333;

                    &:focus {
                        outline: none;
                        color: rgb(94, 93, 93);

                        ~label {
                            position: absolute;
                            top: -14px;
                            font-size: 12px;
                            color: #2196f3;
                        }

                        ~.barra::before {
                            width: 100%;
                        }

                    }

                    @media screen and (max-width: 768px){
                        padding: 5px 5px;
                    }
                }

                label {
                    font-size: 16px;
                    position: absolute;
                    left: 5px;
                    top: 10px;
                    transition: 0.3s ease all;
                    pointer-events:none ;
                }

                .barra{
                    position: relative;
                    display: block;
                    width: 100%;

                    &::before{
                        content: "";
                        height: 2px;
                        width: 0;
                        bottom: 0;
                        position: absolute;
                        background: linear-gradient(to right, #6a82fb, #fc5c7d);
                        transition: 0.3s ease all;
                        left: 0%;
                    }
                }

                textarea {
                    display: block;
                    width: 100%;
                    padding-left: 5px;
                    outline: none;
                    border: none;
                    border-bottom: 1px solid #333333;
                    resize: none;

                    &:focus {
                        outline: none;
                        color: rgb(94, 93, 93);

                        ~label {
                            position: absolute;
                            top: -14px;
                            font-size: 12px;
                            color: #2196f3;
                        }

                        ~.barra::before {
                            width: 100%;
                        }
                    }
                }
            }

            .boton {
                width: 35%;
                background-color:$color-primary;
                color: white;
                border-radius: 10px;
                padding: 6px 0;
                margin-bottom: 0;
                border: none;
                outline: none;

                &:hover {
                    background-color: #04175d;
                    color: white;
                }
            }

            @media screen and (max-width: 768px){
                width: 80%;
                padding: 10px 30px;
            }

            @media screen and (max-width: 425px){
                width: 90%;
                padding: 10px 20px;
            }
        }

        @media screen and (max-width: 768px){
            width: 80%;
            justify-content: center;
        }
        @media screen and (max-width: 425px){
            width: 100%;
        }
    }    
} 
