@import "./variables";
  
#piePagina {

    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.486), hsla(308, 45%, 52%, 0.603)), url("../img/imagen-5.jpeg");
    background: linear-gradient(to right, #09191df0, #171111de), url("../img/imagen-5.jpeg");
    /* background-image: url("../img/imagen-portada.jpeg"); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;

    .contenedor{

        @include display-flex(space-between,stretch,90%);

        .frame {

            width: 33%;

            .titulo{

                margin-bottom: $margin-bottom;
                @include align-text($font-size-title - 0.5rem,white,center);

            }

            iframe{
                width: 100%;
                height: 30vh;
                border-radius: $border-radius;
            }

            @media screen and (max-width: 768px){
                display: none;
            }
        }
        
        .colegio {
    
            flex-direction: column;
            @include display-flex(space-between,center,33%);

            .titulo {

                margin-bottom: $margin-bottom + 10px;
                @include align-text($font-size-title - 0.5rem,white,center);

                @media screen and (max-width: 320px){
                    font-size: $font-size-subtitulo;
                }
            }

            a {
                text-align: center;
                text-decoration: none;
                margin-bottom: $margin-bottom + 10px;
                color: white;
                transition: all 0.5s;

                &:hover {
                    transform: scale(1.3);
                }      
            }  
        }

        .redesSociales {

            flex-direction: column;
            @include display-flex(space-between,center,33%);
            
            .titulo {
                
                margin-bottom: $margin-bottom + 10px;
                @include align-text($font-size-title - 0.5rem,white,center);

                @media screen and (max-width: 320px){
                    font-size: $font-size-subtitulo;
                }
            }

            a {
                border: 1px solid $color-primary;
                border-radius: $border-radius;
                text-align: center;
                margin-bottom: $margin-bottom;
                background-color: #f2f2f2;
                transition: all 0.5s;

                i {
                    font-size: $font-size-title + 0.2rem;
                    color: $color-primary;
                }

                &:hover {
                    transform: scale(1.3);
                }

            }
        }
    } 
}
