
@import "./variables";

/* Bootstrap */
:root {
    --color-title: black;
}

.bg-azul {
    background-color:$color-primary ;
    color: white !important;
}

.black-title {
    color: --color-title !important;
}

.blue-title {
    color: $color-primary  !important;
}

.red-title {
    color: $color-secondary;
}