@import "./mixins";
@import "./variables";
// Header

header {
    .menuNavegacion {
        position: fixed;
        z-index: 2;
        top: 0;
        background-color: white;

        @include display-flex(space-between,center,100%);

        .logo {
            width: 100px;
            height: 70px;
            display: inline-block;
            margin: 10px;

            img {
                width: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        .enlaces {

            a {
                color: black;
                text-decoration: none;
                font-weight: 300;
                margin-right:15px ;
                padding: 10px;
                font-size: 1.2rem;
                // transition: all 0.6s;
                position: relative;

                
                &:hover{
                    color: #7c0e04;
                    transform: scale(1.6);

                    @media screen and (max-width: 768px){
                        transform: none;
                    }
                }

                &:hover::before {
                    width: 100%;
                }

                &::before {
                    content: "";
                    height: 3px;
                    width: 0%;
                    background-color: #7c0e04;
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    transition: width 0.3s;
                }

                &:nth-child(5){
                    background-color:$color-primary;
                    color: white;
                    border-radius: 10px;
                    padding: 15px;
                    transform: none;

                    &:hover::before {
                        width: 0%;
                    }

                    @media screen and (max-width: 768px){
                        margin-left: 20px;
        
                    }
                }


                @media screen and (max-width: 768px){
                    color: white;
                    margin: 10px 0;
                }

                i {
                    margin: 0 8px;
                }
            }

            @media screen and (max-width: 768px){
                padding-top: 30px;
                position: fixed;
                background-color: #303a52;
                left: 0;
                top: 90px;
                height: 100vh;
                flex-direction: column;
                transform: translateX(-100%);
                @include display-flex(flex-start,center,90%);
            }
        }

        .enlaces.enlacesDos {
            @media screen and (max-width: 768px){
                transform: translateX(0%);
                align-items: flex-start;

            }
        }
        
        .hamburguesa{
            height: 100%;
            width: 70px;
            text-align: center;
            display: none;

            img {
                padding: 23px 23px;
            }

            @media screen and (max-width: 768px){
                display: block;
            }
        }   
    }
}
