@import "./variables";
@import "./mixins";

main {
    background-color: white;
    
    .contenedor{
        width: 70%;
    }

    #beneficios {

        .titulo {
            margin-bottom: 50px;
            @include align-text($font-size-title,$color-primary ,center);
        }

        .contenedorBeneficios {
    
            @include display-flex(space-between,flex-start,100%);

            .cardBeneficio {

                margin-bottom: $margin-bottom;
                @include display-flex(space-between,center,30%);

                span{

                    width: 100%;
                    @include align-text(4rem, $color-primary, center);

                }

                .subtitulo {
                    margin-bottom: $margin-bottom;
                    width: 100%;

                    @include align-text($font-size-subtitulo,black, center);

                    @media screen and (max-width: 320px){
                        font-size: $font-size-parrafo;
                    }    
                }

                .parrafo {
                    text-align: center;
                    
                    @media screen and (max-width: 320px){
                        font-size: $font-size-parrafo - 0.2rem;
                    }    
                }

                @media screen and (max-width: 768px){
                    width: 45%;
                    margin-bottom: 20px;
                }

                @media screen and (max-width: 425px){
                    width: 100%;
                    margin-bottom: 40px;
                }

                @media screen and (max-width: 320px){
                    border: 1px solid;
                    padding: 10px;
                    margin-bottom: $margin-bottom;
                    border-radius: $border-radius;
                }      
            }   
        }
    }

    #conocenos{
        margin-top: 100px;

        .titulo-general{
            font-size: $font-size-title;
            margin-bottom: 70px;
            color: $color-secondary;
            text-align: center;

            @media screen and (max-width: 425px){
                font-size: 2rem;
            }
        }

        .card {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 50px;
            gap: 10px;

            .info   {
                width: 50%;

                .titulo{
                    margin-bottom: $margin-bottom;
                    font-size: $font-size-subtitulo + 0.5rem;
                    font-weight: 500;
                    color: #707070;
                    text-align: center;

                    @media screen and (max-width: 425px){
                        font-size: 1.5rem;
                    }
                }

                .parrafo {
                    line-height: 2;
                    font-weight: 1.7rem;

                    @media screen and (max-width: 425px){
                        font-size: 1.2rem;
                        line-height: 1.2;
                    }
                }

                @media screen and (max-width: 425px){
                    width: 100%;
                    order: 1;
                }

                @media screen and (max-width: 320px){
                    width: 100%;
                }

            }

            img{
                width: 48%;
                height: 350px;
                object-fit: cover;
                object-position: center;

                @media screen and (max-width: 425px){
                    width: 100%;
                    order: 2;
                }

                @media screen and (max-width: 320px){
                    width: 100%;
                }
            }

            @media screen and (max-width: 425px){
                width: 100%;
                order: 2;
                margin-bottom: 100px;
            }

        }
    }

    #objetivos{
        margin-top: 100px;

        .titulo{
            font-size: $font-size-title;
            text-align: center;
            color: $color-primary;
            margin-bottom: 30px;

            @media screen and (max-width: 425px){
                font-size: 1.5rem;
            }

            @media screen and (max-width: 320px){
                width: 100%;
            }
        }

        .parrafo {
            text-align: center;
            line-height: 1.8;
            font-size: $font-size-parrafo;
            margin-bottom: 40px;

            @media screen and (max-width: 425px){
                font-size: 16px;
            }
        }

        .contenedor-objetivos{
            text-align: center;
            gap: 25px;
            margin-bottom: $margin-bottom;
            color: #0069aa;
            @include display-flex(space-around ,flex-start);
        }
    }

    #admision {

        .contenedorAdmision{

            .titulo{
                margin-top: 100px;
                margin-bottom: $margin-bottom;

                @include align-text($font-size-title,$color-primary , left);
                
                @media screen and (max-width: 320px){
                    font-size: $font-size-parrafo + 0.2rem;
                }
            }
            .parrafo{
                font-size: $font-size-parrafo;
                margin-bottom: $margin-bottom;

                @media screen and (max-width: 320px){
                    font-size: $font-size-parrafo - 0.3rem;
                }
            }

            .formularioAdmision{

                @include display-flex(space-between,center,100%);

                input {
                    width: 48%;
                    margin-bottom: $margin-bottom - 5;
                    padding: 10px;
                    border-radius: $border-radius;
                    outline: none;
                    border: 1px solid rgba(0, 0, 0, 0.308);
                    font-size: 1.1rem;

                    @media screen and (max-width: 425px){
                        width: 100%;
                    }

                    @media screen and (max-width: 320px){
                        padding: 10px 5px;
                        font-size: 0.8rem;;
                    }
                }
                select {
                    width: 48%;
                    height: 45px;
                    padding: 10px;
                    margin: 0;
                    font-size: 1.1rem;
                    border: 1px solid rgba(0, 0, 0, 0.308);
                    border-radius: $border-radius;
                    outline: none;
                    margin-bottom: $margin-bottom - 5;

                    @media screen and (max-width: 425px){
                        width: 100%;
                    }

                    @media screen and (max-width: 320px){
                        height: 30px;
                        padding:8px 5px;
                        text-align: center;
                        font-size: 0.7rem;
                    }
                }

                .terminos {
                    width: 100%;
                    text-align: left;
                    margin-bottom: $margin-bottom - 5;

                    input{
                        width: 2%;
                        text-align: left;

                        @media screen and (max-width: 425px){
                            width: 10%;
                        }

                        @media screen and (max-width: 320px){
                            width: 10%;
                        }
                    }

                    label {
                        a{
                            @media screen and (max-width: 320px){
                                font-size: 0.8rem;
                            }
                        }
                    }
                }

                .botonEnviar {
                    width: 100%;
                    text-align: center;
                    padding: 5px;

                    input {
                        width: 15%;
                        padding: 15px 0;
                        text-align: center;
                        background-color: $color-primary;
                        color: white;

                        &:hover {
                            background-color: #0b2a9a;
                            color: white;
                        }

                        @media screen and (max-width: 425px){
                            width: 35%;
                        }
                    }       
                }
            }
        } 
    }
}
