// Funcion para flexbox
@mixin display-flex($justify , $align:flex-start , $width:100%) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justify;
    align-items: $align;
    width: $width;
}

// Funcion para titulos
@mixin align-text($font-size, $color:black, $text-align:center) {
    font-size: $font-size;
    text-align: $text-align;
    color:$color;
}

//funcion para fondo
@mixin background($url) {
    margin-top: 70px;
    background: linear-gradient(to right, hsla(0, 54%, 33%, 0.609), hsla(312, 3%, 28%, 0)), url($url);
    width: 100%;
    height: 900px;
    background-size: 100% 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;

    .textos {
        position: absolute;
        top: 50%;
        left: 10%;
        color: white;
        text-align: center;

        .titulo {
            font-size: $font-size-title + 3rem;
            margin-bottom: $margin-bottom;

            @media screen and (max-width: 768px){
                font-size: $font-size-title + 1rem;
            }
            @media screen and (max-width: 320px){
                font-size: $font-size-title;
                margin-top: 0;
            }
        }

        .parrafo {
            font-size: $font-size-parrafo + 1rem;

            @media screen and (max-width: 768px){
                font-size: $font-size-parrafo + 0.5rem;
            }

            @media screen and (max-width: 425px){
                font-size: $font-size-parrafo - 0.2rem;
            }

            
        }
    }   
}