@import "./variables";
@import "./mixins";

#nosotros{

    .contenedor {

        @media screen and (max-width: 425px){
            width: 95%;
        }
    }

    .textoFlotante{

        @include background("../img/1960.jpg");

    }

    h1 {
        margin-bottom: $margin-bottom + 40px;
        @include align-text($font-size-title,$color-primary ,center);
    } 

    // Section nosotros
    .contenedorNosotros {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;

        .cardNosotros{
            grid-column: 1/-1;
            background-color: white;
            padding: 10px 0;

            #quienesSomos {

                @include display-flex(space-around,center);
            }

            .contenedorTextos{
                width: 40%;

                .titulo {
                    margin-bottom: $margin-bottom;

                    @include align-text($font-size-subtitulo + 0.3rem, $color-secondary,center);

                }
                .parrafo {
                    text-align: justify;
                    line-height: 1.5;
                }

                @media screen and (max-width: 768px){
                    width: 100%;
                    padding: 10px;
                }
            }

            .imagen {
                width: 50%;

                img {
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    object-position: center;
                    transition: all 1s;
                    box-shadow: 4px 4px 8px -1px rgba(0,0,0,0.57);
                }

                &:hover img {
                    transform: scale(0.9);
                    border-radius: 10px;
                }

                @media screen and (max-width: 768px){
                    width: 100%;
                    padding: 10px;
                }
            }

            #mision{

                @include display-flex(space-around,center);

                .imagen {

                    @media screen and (max-width: 768px){
                        order: 5;
                    }
                }
            }

            #vision{

                @include display-flex(space-around,center);

            } 

            #historia{

                @include display-flex(space-around,center);

                .imagen {

                    @media screen and (max-width: 768px){
                        order: 5;
                    }
                }
            }
            
         }
    }

    /* Section equipo */
    #equipo {
        margin-top: 30px;

        .titulo {
            margin-top: 100px;
            @include align-text($font-size-title,$color-primary,center);

        }

        .contenedorEquipo {
            margin-top: 30px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 20px;
            justify-content: space-around;

            .cardEquipo {
                text-align: center;
                padding: 15px 10px;
                position: relative;
                overflow: hidden;
                text-align: center;

                img {
                    width: 85%;
                    height: 200px;
                    object-fit: cover;
                    object-position: center;
                    border-radius: 50%;
                    transition: all 1s;

                    @media screen and (max-width: 768px){
                        width: 100%;
                        height: 200px;
                    } 

                    @media screen and (max-width: 425px){
                        width: 100%;
                        height: 180px;
                    } 
                }

                &:hover img {
                    transform: scale(1.1);
                    opacity: 0.5;
                }

                .parrafoOculto {
                    position: absolute;
                    left: 20%;
                    right: 20%;
                    bottom: -30%;
                    color: black;
                    font-size: $font-size-parrafo;
                    transition: all 2s;
                }

                &:hover p {
                    bottom: 40%;
                }
            } 
            
            @media screen and (max-width: 768px){
                grid-template-columns: repeat(3,1fr);
            }
            
            @media screen and (max-width: 320px){
                grid-template-columns: repeat(2,1fr);
            }
        }
    }

    /* Section Plataforma */
    #plataforma {

        .titulo{
            margin-top: 100px;
            margin-bottom: 30px;
            @include align-text($font-size-title,$color-secondary,center);

        }

        .parrafo{
            text-align: center;
            margin-bottom: $margin-bottom + 20px;
        }     
        
        .contenedorPlataforma {
            display: grid;
            grid-template-columns: 1fr 1fr 2fr;
            grid-gap: 10px;

            .imagenesPlataforma{
                grid-column: 1/3;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;    
            }

            .imagen {
                width: 45%;
                margin: 10px;

                img{
                    width: 100%;

                    @media screen and (max-width: 425px){
                        width: 100%;
                        height: 130px;
                    }
                }
            }

            .textosPlataforma {
                justify-content: space-evenly;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                grid-column: 3/4;

                .subtitulo {
                    font-size: $font-size-subtitulo + 0.3rem; 
                }

                .parrafo {
                    padding: 0 50px; 
                }

                a {
                    padding: 10px;
                    background-color:$color-primary ;
                    text-decoration: none;
                    color: white;
                    border-radius: $border-radius;
                    font-size: $font-size-parrafo;
                }

                @media screen and (max-width: 768px){
                    text-align: center;
                }
                
            }
        }
    }
} 
